# Dependencies
node_modules/
.pnp
.pnp.js

# OS
.DS_Store
Thumbs.db
*.swp

# Env
.env
.env.local
.env.*.local

# Build
dist/
build/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
